<form>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Título</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input placeholder="Este es el título del gráfico"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Fortalezas</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input placeholder="Ingresa las Fortalezas (una por línea)" rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Debilidades</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input placeholder="Ingresa las Debilidades (una por línea)" rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Oportunidades</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input placeholder="Ingresa las oportunidades (una por línea)" rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Amenazas</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input placeholder="Ingresa las amenazas (una por línea)" rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>
