<form>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input placeholder="This graph's title"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Strengths</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input placeholder="input strengths (one per line)" rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Weaknesses</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input placeholder="input Weaknesses (one per line)" rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Opportunities</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input placeholder="input opportunities (one per line)" rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Threats</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input placeholder="input Threats (one per line)" rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>
