<div class="sticky-footer" nz-row nzAlign="top">

  <!--  First footer section-->
  <div [nzMd]="6" [nzXs]="24" nz-col>
    <p>
      <strong>PDA was made possible by:</strong>
    </p>
    <ul>
      <li>Duberly</li>
      <li>Omar</li>
      <li>Christopher</li>
      <li>Luis</li>
    </ul>
  </div>

  <!--  Second footer section-->
  <div [nzMd]="12" [nzXs]="24" nz-col>
    <p><strong>Legal</strong><br>There is nothing legal with this tool. Use it at your own risk!<br>
      If you wish to make a donation, please get in touch.</p>
  </div>

  <!--  Third footer section-->
  <div [nzMd]="6" [nzXs]="24" nz-col>
    <p><strong>Contact</strong><br>
      <strong>Email: </strong><a href="mailto:duberlygfr@gmail.com">duberlygfr@gmail.com</a><br>
      <strong>Git Repo: </strong> <a href="https://github.com/duberlyguarnizofuentesrivera/pda-frontend">Frontend</a>,
      &nbsp;
      <a href="https://github.com/duberlyguarnizofuentesrivera/DesignArtifacts">Backend</a>
      <br><a href="/admin-panel">Admin login</a>

    </p>
  </div>

</div>
