p {
  text-align: justify;
}

.sticky-footer {
  position: sticky;
  top: 100vh;
  background-color: #ebebeb;
  padding: 20px 5px 0 20px;
}
.grayed-out-text{
  color: darkslategray;
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .sticky-footer {
    position: sticky;
    font-size: 1.5vmax;
    top: 50vh;
    background-color: #ebebeb;
    padding: 20px 5px 0 5px;
  }
}
