<div class="sticky-footer" nz-row nzAlign="top">

  <!--  First footer section-->
  <div [nzMd]="6" [nzXs]="24" nz-col>
    <p>
      <strong>PDA ha sido creado gracias a:</strong>
    </p>
    <ul>
      <li>Duberly</li>
      <li>Omar</li>
      <li>Cristopher</li>
      <li>Luis</li>
    </ul>
  </div>

  <!--  Second footer section-->
  <div [nzMd]="12" [nzXs]="24" nz-col>
    <p><strong>Legal</strong><br>No hay nada legal con esta herramienta. ¡Úsala bajo tu propio riesgo!<br>
      Si deseas hacer una donación, contáctate con nosotros.</p>
  </div>

  <!--  Third footer section-->
  <div [nzMd]="6" [nzXs]="24" nz-col>
    <p><strong>Contacto</strong><br>
      <strong>Email: </strong><a href="mailto:duberlygfr@gmail.com">duberlygfr@gmail.com</a><br>
      <strong>Git Repo: </strong> <a href="https://github.com/duberlyguarnizofuentesrivera/pda-frontend">Frontend</a>,
      &nbsp;
      <a href="https://github.com/duberlyguarnizofuentesrivera/DesignArtifacts">Backend</a>
      <br><a  class="grayed-out-text" href="/admin-panel">Admin login</a>

    </p>
  </div>

</div>
