<app-main-header></app-main-header>
<h1>Admin Panel</h1>
<button nz-button>Manage Users</button>
<button nz-button>Manage Graphs</button>
<button nz-button>Manage Links</button>
<button nz-button>Manage Visits</button>
<nz-table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Version</th>
    <th>Created</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>SWOT</td>
    <td>1.0</td>
    <td>25/10/2022</td>
    <td>
      <button nz-button nzType="primary">View JSON</button>
      <button nz-button nzType="default">Edit</button>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>Lean Canvas</td>
    <td>1.0</td>
    <td>26/10/2022</td>
    <td>
      <button nz-button nzType="primary">View JSON</button>
      <button nz-button nzType="default">Edit</button>
    </td>
  </tr>
  </tbody>
</nz-table>
<app-main-footer></app-main-footer>
